[format]
max-line-length = 88

[MESSAGES CONTROL]
disable=missing-docstring

[MISCELLANEOUS]
notes=FIXME,XXX

[MASTER]
extension-pkg-whitelist=pydantic ; https://github.com/pydantic/pydantic/issues/1961#issuecomment-759522422
